<div id="home" class="big-bg">  
  <header class="page-header wrapper">

    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'logo.jpg' %>
    <% end %>

    <%# <h1><a href="index.html"><img src="logo.jpg" class="logo" alt="WCBカフェホーム"></a></h1>
    <nav> %>
      <ul class="main-nav">
        <li><a href="news.html">News</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div class="home-content wrapper">
    <h2 class="page-title">簡単な診断であなたにぴったりのおさかなとレシピを提案します<h2>
    <%# <p>おしゃれなカフェで癒やされてみませんか?無添加の食材で体の中からリフレッシュ｡</p> %>


  </div><!-- /.home-content -->
</div><!-- /#home -->

  <%= link_to '診断する', '#', class: 'button' %>
  <%# <a href="menu.html" class="button">メニューを見る</a> %>

<footer>
  <div class="wrapper">
    <p><small>&copy; 2019 Manbox</small></p>
  </div>
</footer>
