<div id="home" class="big-bg">  
  <div class="home-content wrapper">
    <h2 class="page-title">簡単な診断であなたにぴったりのおさかなとレシピを提案します<h2>
    <%# <p>おしゃれなカフェで癒やされてみませんか?無添加の食材で体の中からリフレッシュ｡</p> %>
  </div><!-- /.home-content -->
</div><!-- /#home -->
<div>
  <% if !logged_in?||current_user.guest? %>
    <%= link_to '診断する(ゲストログインする)', guest_login_path, method: :post, class: 'button' %>
  <% else %>
    <%= link_to '診断する(ゲストログインしない)', new_question_evaluation_path, class: 'button' %>
  <% end %>
</div>
