<footer id='footer' class='footer-bottom', style="background-color: #e3f2fd;">
  <div class="container d-flex align-items-center justify-content-center"
">
    <li class="list-inline-item">
      <%= link_to 'フィードバック', 'https://docs.google.com/forms/d/e/1FAIpQLScSk7rXY1P3I2eOVHTZbBSVXFILcYVl6N_QlQXjV9gNmtluBA/viewform?usp=sf_link', target: :_blank, rel: "noopener noreferrer" %>
    </li>
    <li class="list-inline-item">
      <%= link_to 'プライバシーポリシー', privacy_path %>
    </li>
    <li class="list-inline-item">
      <%= link_to '利用規約', terms_path %>
    </li>
  </div>
</footer>
