<footer>
  <div class="wrapper">
    <ul>
      <li>
      <%= link_to 'フィードバック', 'https://docs.google.com/forms/d/e/1FAIpQLScSk7rXY1P3I2eOVHTZbBSVXFILcYVl6N_QlQXjV9gNmtluBA/viewform?usp=sf_link', target: :_blank, rel: "noopener noreferrer" %>

      </li>
      <li>
        <%= link_to 'プライバシーポリシー', privacy_path %>
      </li>
      <li>
        <%= link_to '利用規約', terms_path %>
      </li>
    </ul>
    
    
  </div>
</footer>
